createdAt: "2020-09-10T03:46:03.686Z"
updatedAt: "2020-09-11T08:49:33.472Z"
type: "MARKDOWN_NOTE"
folder: "f641fe3577d5d5a32c12"
title: "element"
tags: []
content: '''
  #element
  [Element - The world's most popular Vue UI framework](https://element.eleme.cn/#/zh-CN/component/date-picker)
  
  #### 使用
        1. npm 安装
        npm i element-ui -S
        2. cdn
        <!-- 引入样式 -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <!-- 引入组件库 -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  
  #### 一、 下拉选择器
      (1)    
      <el-select v-model="value" placeholder="请选择" clearable>
        <el-option
          v-for="item in options"
          :key="item.id"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
       
      option 属性：例： :label=""
        key：数组遍历的标志，每一条数据的唯一标识
        label：显示的文字
        value：该选项的值，这里等于v-model的值
        disabled：是否禁用此选项
      
      select 属性： 例： clearable
        clearable：则可将选择器清空，仅适用于单选
        multiple：启用多选，此时v-model的值为当前选中值所组成的数组
        filterable：选择框可搜索lable
        disabled： 是否禁用
        
      el-option 标签内
        1. 任意html 标签，label 将被标签替换
              <span style="float: left">{{ item.label }}</span>
              <span style="float: right; color: #8492a6; font-size: 13px">{{ item.value }}</span>
              
      (2) 分组
      <el-select v-model="value" placeholder="请选择">
        <el-option-group
          v-for="group in options"
          :key="group.label"
          :label="group.label">
          <el-option
            v-for="item in group.options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-option-group>
      </el-select>
      
      el-option-group 标签内放 el-option，实现分组选择
      数据格式 options：[{label:'',options:[{}] }]
          options: [{
            label: '热门城市',
            options: [{
              value: 'Shanghai',
              label: '上海'
            }, {
              value: 'Beijing',
              label: '北京'
            }]
          }, {
            label: '城市名',
            options: [{
              value: 'Chengdu',
              label: '成都'
            }, {
              value: 'Shenzhen',
              label: '深圳'
            }, {
              value: 'Guangzhou',
              label: '广州'
            }, {
              value: 'Dalian',
              label: '大连'
            }]
          }]
          
  #### 二、时间选择器
        (1)
      <el-date-picker
        v-model="value"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
      
      type 属性值代表的含义
        date 选择天
        week 选择周
        month 选择月
        year 选择年
        dates 选择多个天
        daterange 日期范围
        weekrange 周范围
        monthrange 月范围
        datetime
        datetimerange
  
      
      格式化： 需要指定准换的格式yyyy-MM-dd等
        format指定输入框显示的格式
        value-format指定绑定值的格式
      
      
      (2) 范围
      <el-date-picker
        v-model="value"
        type="date"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期">
      </el-date-picker>
      
      range-separator	选择范围时的分隔符	
      start-placeholder	范围选择时开始日期的占位内容
      end-placeholder	范围选择时结束日期的占位内容
      unlink-panels	在范围选择器里取消两个日期面板之间的联动
      
      el-date-picker 属性：
        readonly	完全只读
        disabled	禁用
        
  #### 三、Layout 布局 栅格
      通过基础的 24 分栏，迅速简便地创建布局。
      
      (1)
      <el-row>
      <el-col :span="24"><div class="grid-content></div></el-col>
      </el-row>
      <el-row>
        <el-col :span="12"><div class="grid-content"></div></el-col>
        <el-col :span="12"><div class="grid-content"></div></el-col>
      </el-row>
      
      el-row 栅格样式控制 gutter='20'
        gutter	栅格间隔
      
      el-col 栅格本体
        span	栅格占据的列数
        offset	栅格左侧的间隔格数
        push	栅格向右移动格数
        pull	栅格向左移动格数
'''
linesHighlighted: []
isStarred: false
isTrashed: false
