createdAt: "2020-05-08T06:46:50.958Z"
updatedAt: "2020-05-08T06:46:57.798Z"
type: "MARKDOWN_NOTE"
folder: "a8ddcc7d582aa33cc612"
title: "jekins 密码"
tags: []
content: '''
  # jekins 密码
  
  
  	jenkins
  	账号：qianji
  	密码：Qianji@123
  	Jenkins 33测试
  	账号：admin
  	密码：qianji@123
  	指令启动
  	Jenkins 10测试
  	账号：admin
  	密码：qianji@123
  	
  	192.168.1.10
  	账户 root
  	密码 qianji-123456
  	账户 manager
  	密码 qianji123456
  	
  	192.168.1.33
  	账户 root
  	密码 qianji1234
'''
linesHighlighted: []
isStarred: false
isTrashed: false
