createdAt: "2020-06-01T07:49:39.647Z"
updatedAt: "2020-06-01T08:37:25.290Z"
type: "MARKDOWN_NOTE"
folder: "a2b660d615c2e40867f9"
title: "触发器"
tags: []
content: '''
  # 触发器
  
    1. 概念： 你执行一条sql语句，这条sql语句的执行会自动去触发执行其他的sql语句，就这么简单。
    2. 触发器创建的四个要素：
  
            （1）监视地点（table）
            （2）监视事件（insert/update/delete）  
                      INSERT：插入操作触发器，INSERT、LOAD DATA、REPLACE时触发；
                      UPDATE：更新操作触发器，UPDATE操作时触发；
                      DELETE：删除操作触发器，DELETE、REPLACE操作时触发；
            （3）触发时间（after/before）
            （4）触发事件（insert/update/delete）
          
    3. 创建触发器
  
            create trigger t1    #触发器名称 最好由表名+触发事件关键词+触发时间关键词组成
            after                #执行时间
            insert               #监听方法动作
            on ord               #监听的表 order
            for each row         #
            begin                #begin和end之间写触发事件
             update goods set num=num-2 where gid = 1;
            end$
            
            
            因为mysql的执行结束标识默认是; 如果运行以上的sql语句，mysql碰到;时会自动停止执行，然后end语句就执行不到了。所以我们需要先将mysql的结束标识符改为其他的字符，一般都选用$或者$$，这里选用$来作为执行的结束标识。使用下面的语句来修改MySQL执行的结束标识。
              
            delimiter $ //设置MySQL执行结束标志，默认为;
          
    4. 查看和删除已有的触发器
  
            （1）查看已有触发器：show triggers
            （2）删除已有触发器：drop trigger triggerName
            
    5. 触发器中引用行变量
  
            （1）在触发目标上执行insert操作后会有一个新行，如果在触发事件中需要用到这个新行的变量，可以用new关键字表示
            （2）在触发目标上执行delete操作后会有一个旧行，如果在触发事件中需要用到这个旧行的变量，可以用old关键字表示
            （3）在触发目标上执行update操作后原纪录是旧行，新记录是新行，可以使用new和old关键字来分别操作
                  update goods set num=num-new.much where gid=new.gid;
              
    6. after和before的区别
  
            after操作，是在执行了监视动作后，才会执行触发事件
            before操作，是在执行了监视动作前，会执行触发事件
            
    7. for each row是干什么的？
  
            在oracle触发器中，触发器分为行触发器和语句触发器
            for each row #每一行受影响，触发事件都执行，叫做行触发器
            行级触发器能够通过：new.属性 和 :old.属性等获得update或者insert发生之前的新值和发生值之后的旧值。
            mysql目前不支持语句级触发器
            
            
            MySQL创建的触发器保存在“information_schema库中的triggers表中
            
    8. 删除触发器
    
            drop trigger trigger_name;
            drop trigger if exists trigger_name
'''
linesHighlighted: []
isStarred: false
isTrashed: false
