createdAt: "2020-07-29T01:03:08.072Z"
updatedAt: "2020-08-05T10:06:25.024Z"
type: "MARKDOWN_NOTE"
folder: "ff82907153aa97c03b03"
title: "flutter"
tags: []
content: '''
  # flutter
  
  ### 一、
          
      安装，配置环境变量path
      配置国内资源镜像，开发会下载资源。（直接新建在系统环境变量）
      Flutter 社区
      FLUTTER_STORAGE_BASE_URL: https://storage.flutter-io.cn
      PUB_HOSTED_URL: https://pub.flutter-io.cn
      清华大学 TUNA 协会
      FLUTTER_STORAGE_BASE_URL: https://mirrors.tuna.tsinghua.edu.cn/flutter
      PUB_HOSTED_URL: https://mirrors.tuna.tsinghua.edu.cn/dart-pub
  
  ### 二、 调试 
  
      手机开启调试模式，连接电脑允许USB调试，ide工具安装sdk版本
      
  ### 三、 关于gradle下载不了
  
      （1）
      文件：
      flutter\\packages\\flutter_tools\\gradle\\flutter.gradle
      修改前：
          buildscript {
          repositories {
              google()
              jcenter()
          }
          dependencies {
              classpath 'com.android.tools.build:gradle:3.2.1'
          }
      }
      修改后：
          buildscript {
              repositories {
                  /*google()
                  jcenter()*/
                  maven { url 'https://maven.aliyun.com/repository/google' }
                  maven { url 'https://maven.aliyun.com/repository/jcenter' }
                  maven { url 'http://maven.aliyun.com/nexus/content/groups/public' }
              }
              dependencies {
                  classpath 'com.android.tools.build:gradle:3.2.1'
              }
          }
      备注：
          注释：
              google() 
              jcenter() 
          添加：
              maven { url 'https://maven.aliyun.com/repository/google' }
              maven { url 'https://maven.aliyun.com/repository/jcenter' }
              maven { url 'http://maven.aliyun.com/nexus/content/groups/public' }
              
      （2）
      1、确定gradle需要的版本
              查看flutter的工程下面gradle-wrapper.properties文件   
                  文件地址：
                      flutter\\android\\gradle\\wrapper\\gradle-wrapper.properties
                  gradle版本：
                      distributionUrl=https\\://services.gradle.org/distributions/gradle-4.10.2-all.zip
      2、下载gradle
          gradle下载地址：http://services.gradle.org/distributions/
      
      3.首先删除下面目录内容
          如果没有配置GRADLE_USER_HOME环境变量
              C:\\Users\\当前用户\\.gradle\\wrapper\\dists
          如果配置了
              %GRADLE_USER_HOME%\\wrapper\\dists
      4.建立文件夹wrapper\\dists\\gradle-4.10.2-all\\9fahxiiecdb76a5g3aw9oi8rv    
      5.将下载的gradle-4.10.2-all.zip，放到9fahxiiecdb76a5g3aw9oi8rv目录，结果如下：
          wrapper\\dists\\gradle-4.10.2-all\\9fahxiiecdb76a5g3aw9oi8rv\\gradle-4.10.2-all.zip  
      6.运行flutter run
  
      备注
          不同的版本号的gradle的目录是不相同的。如gradle-5.5.1-all，目录是：wrapper\\dists\\gradle-5.5.1-all\\8yl0syll3fr5m1v472nzznadi
          具体目录，在第一次运行flutter run，时会生成出来。因为墙的原因，下载不下来，所以需要手动添加。
          
  ### 四、 目录结构
  
      android ：安卓资源文件
      build：  编译目录
      ios：  ios项目目录
      lib：  书写代码  main.dart,入口文件
      test： 测试文件
      pubspec.yaml： 配置文件
      
  ### 五、 主方法结构
  
      void main() {
        runApp(
        组件
        );
      }
      
  
  ### 六、组件
  
      在 Flutter 中自定义组件其实就是一个类，这个类需要继承 StatelessWidget/StatefulWidget
      
      StatelessWidget 是无状态组件，状态不可变的 widget
      StatefulWidget 是有状态组件，持有的状态可能在 widget 生命周期改变
      
      //自定义组件 MyApp ，重写抽象方法，返回一个组件
      class MyApp extends StatelessWidget{
      //Widget 组件的意思
      @override
      Widget build(BuildContext context) {
        // TODO: implement build
        return Center(
          child: Text(
            'nihao+++++++',
            textDirection: TextDirection.ltr,
          ),
        );
      }
      
      MaterialApp 是一个方便的 Widget，它封装了应用程序实现 Material Design 所需要的一些 Widget。一般作为顶层 widget 使用。
      
'''
linesHighlighted: []
isStarred: false
isTrashed: false
