createdAt: "2020-06-13T09:05:46.015Z"
updatedAt: "2020-07-24T02:13:17.157Z"
type: "MARKDOWN_NOTE"
folder: "2a4f69d6e8fbaeba74e9"
title: "ping"
tags: []
content: '''
  # ping
  
  PING （Packet Internet Groper），因特网包探索器，用于测试网络连接量的程序。Ping是工作在 TCP/IP网络体系结构中应用层的一个服务命令， 主要是向特定的目的主机发送 ICMP（Internet Control Message Protocol 因特网报文控制协议）Echo 请求报文，测试目的站是否可达及了解其有关状态。
'''
linesHighlighted: []
isStarred: false
isTrashed: false
