createdAt: "2020-05-24T09:18:19.952Z"
updatedAt: "2020-05-24T09:21:17.916Z"
type: "MARKDOWN_NOTE"
folder: "f641fe3577d5d5a32c12"
title: "LomBok"
tags: []
content: '''
  # LomBok
  
  在编译时起作用
'''
linesHighlighted: []
isStarred: false
isTrashed: false
