createdAt: "2020-09-24T03:06:45.714Z"
updatedAt: "2020-09-24T03:07:33.590Z"
type: "MARKDOWN_NOTE"
folder: "ff82907153aa97c03b03"
title: "命令"
tags: []
content: '''
  # 命令
  
  ###### ~/
        代表你的/home/用户明目录
        C:\\Users\\Administrator
'''
linesHighlighted: []
isStarred: false
isTrashed: false
