createdAt: "2020-09-22T06:15:16.077Z"
updatedAt: "2020-09-22T08:02:52.780Z"
type: "MARKDOWN_NOTE"
folder: "ff82907153aa97c03b03"
title: "MarkDown 语法"
tags: []
content: '''
  # MarkDown 语法
  ---
  #### 标题
      第一种
      
      一级标题，标题下方加 = 号
      =========
      二级标题，标题下方加 - 号
      ---
      
      第二种
      # 1
      ## 2
      ### 3
      #### 4
      ##### 5
      ###### 6
  ---
  #### 段落
      段落的换行是使用两个以上空格加上回车。
  ---
  #### 字体
        *斜体*
        _斜体_
        **粗体**
        __粗体__
        ***粗斜体***
        ___粗斜体___
  
  *斜体*
  _斜体_
  **粗体**
  __粗体__
  ***粗斜体***
  ___粗斜体___
  
  ---
  #### 分割线
      三个以上的星号、减号、底线来建立一个分隔线，行内不能有其他东西。
  
  ***
  
  ---
  
  ___
  
  #### 删除线
      ~~删除线~~
  ~~删除线~~
  
  ---
  #### 下划线
        $\\underline{\\text{下划线}}$  Latex 公式
  
        <u>下划线</u>   此方式boostnote不支持
  
  $\\underline{\\text{下划线}}$
  
  ---
  #### 脚注
      [^脚注]
      [^脚注]:注释内容
      
  [^脚注]
  
  #[^脚注]: 脚注内容！！！
  
  #### 列表
        无序
        * 1
        * 2
        * 3
        - 1
        - 2
        - 3
        + 1
        + 2
        + 3
  
  * 1
  * 2
  * 3
  - 1
  - 2
  - 3
  + 1
  + 2
  + 3
  
        有序
        1. 一
        2. 二
        3. 三      
  1. 一
  2. 二
  3. 三
  
          列表嵌套
          列表嵌套只需在子列表中的选项前面添加四个空格即可：
  
  * 1
      - 1
      * 2
      3.三
  
  ---
  #### 区块
      > 
      里面可以放置列表
  
  >  区块
  >  * 区块
  >  * 区块
  >       * 区块
  
  ---
  #### 代码
  
      `` 包裹代码
      
      tab 键 区块代码
      
      ```java
      pbulic static
      ```
      
  ```java
  pbulic void test(){
    
  } 
  ```
  
  ---
  #### 链接
  
      这是一个链接 [百度](https://www.baidu.com)
      
  这是一个链接 [百度](https://www.baidu.com)
  
  #### 图片
      ![RUNOOB 图标](http://static.runoob.com/images/runoob-logo.png)
      
  ![RUNOOB 图标](http://static.runoob.com/images/runoob-logo.png)
  
      有title
      ![RUNOOB 图标](http://static.runoob.com/images/runoob-logo.png "RUNOOB")
      
  ![RUNOOB 图标](http://static.runoob.com/images/runoob-logo.png "RUNOOB")
  
      H5 写法
      <img src="http://static.runoob.com/images/runoob-logo.png" width="50%">
      
  <img src="http://static.runoob.com/images/runoob-logo.png" width="50%">
  
  ---
  #### 表格
  
      制作表格使用 | 来分隔不同的单元格，使用 - 来分隔表头和其他行。
      |  表头   | 表头  |
      |  ----  | ----  |
      | 单元格  | 单元格 |
      | 单元格  | 单元格 |
      
  |  表头   | 表头  |
  |  ----  | ----  |
  | 单元格  | 单元格 |
  | 单元格  | 单元格 |
  
      -: 设置内容和标题栏居右对齐。
      :- 设置内容和标题栏居左对齐。
      :-: 设置内容和标题栏居中对齐。
      
      | 左对齐 | 右对齐 | 居中对齐 |
      | :-----| ----: | :----: |
      | 单元格 | 单元格 | 单元格 |
      | 单元格 | 单元格 | 单元格 |
      
  | 左对齐 | 右对齐 | 居中对齐 |
  | :-----| ----: | :----: |
  | 单 | 单 | 单 |
  | 单 | 单 | 单 |
  
  #### 高级
'''
linesHighlighted: []
isStarred: false
isTrashed: false
